<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Presentacion.Properties.Settings.Factura_InventarioConnectionString"
            connectionString="Data Source=DESKTOP-F3K5N8I\MONICA10;Initial Catalog=Factura_Inventario;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="Presentacion.Properties.Settings.Factura_InventarioConnectionString1"
            connectionString="Data Source=DESKTOP-F3K5N8I\MONICA10;Initial Catalog=Factura_Inventario;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>